{% extends "base.html.twig" %}

{% block title %}
	Plat Gourmand
{% endblock %}

{% block body %}
	<div class="container text-center mt-5">
		<h1>Plat Gourmand</h1>

		<div class="container text-center">
		
				<div class="card m-5">
					<div class="card-body">
						<h5 class="card-title"> Titre </h5>
						<h6 class="card-subtitle mb-2 text-muted"> Date </h6>
						<p class="card-text"> Description </p>
						<a href="" class="card-link">Voir la recette</a>

					</div>
				</div>

		
		</div>

	{% endblock %}

